$shadow: #839496;

@import '~bootstrap';
@import '~bootstrap-vue';

@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap&subset=latin-ext');

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.card-body {
  padding: 0em;
}

.card, #nav {
  box-shadow: 5px 5px 5px $shadow;
}

#app {
  font-family: 'Zilla Slab', serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}

#nav {
  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}